@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --green-clr: #10b981;
  --grey-light-clr: #e5e7eb;
  --grey-dark-clr: #6b7280;
  --white-clr: #f8fafc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-clr);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 92.7vh;
}
.sidebar {
  grid-row: 1/-1;
  background-color: var(--green-clr);
}
.sidebar > .logo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.top-header .user-header {
  display: flex;
  gap: 15px;
}

.bottom-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.bottom-header > .user-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 15px;
}
.bottom-header > .user-info > img {
  grid-row: 1 / 3;
}

.main-content {
  background-color: var(--grey-light-clr);

  display: grid;
  grid-column: 2;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.main-content > .projects {
  grid-row: 1/-1;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card,
.trending-container,
.announcement-container {
  background-color: var(--white-clr);
}

.announcement-container {

}